<mat-toolbar class="menu-flex" color="primary">
    <div class="logo">
        <button mat-icon-button color="primary">
            <mat-icon svgIcon="cogitovirus"></mat-icon>
        </button>
    </div>
    <div class="toolbar-nav">
        <a mat-button class="button-flex-container" routerLink="">Home</a>
        <a mat-button class="button-flex-container" routerLink="posts">Posts</a>
        <a mat-button class="button-flex-container" routerLink="book-reports">Book Reports</a>
        <a mat-button class="button-flex-container" routerLink="about">About</a>
    </div>
    <div class="spacer">

    </div>
</mat-toolbar>