<mat-toolbar class="menu-flex" color="primary">
    <div class="logo">
        <button mat-icon-button color="primary">
            <mat-icon svgIcon="cogitovirus"></mat-icon>
        </button>
    </div>
    <a mat-button class="nav-button" routerLink="">Home</a>
    <a mat-button class="nav-button" routerLink="posts">Posts</a>
    <a mat-button class="nav-button" routerLink="book-reports">Book Reports</a>
    <a mat-button class="nav-button" routerLink="about">About</a>
    <div class="spacer"></div>
</mat-toolbar>