.menu {
    margin: 1em;
    text-align: center;
}

.menu-item {
    padding: 2em;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #282828;
    transition: all 1s ease-in-out;
    position: relative;

    &:hover {
        color: #72bcd4;
    }
}

