<p>Look at the pattern<br>
Can you see what's wrong?<br>
It's supposed to be perfect<br>
But really it's not<br>
<br>
Can you find the flaws<br>
Hidden in structured code<br>
Hiding in the pattern<br>
In between the rows?<br>
<br>
Only illogics can find<br>
Hidden flaws in a straight logic line<br>
Only erratics recognize<br>
Errors in patterns of a perfect design<br>
<br>
Only illogics can find<br>Hidden flaws in a straight logic line<br>
Only erratics recognize<br>
Errors in patterns of a perfect design<br>
<br>
Now that you know<br>
That something's not right<br>
Look at it carefully<br>
In pale logic light<br>
<br>
Don't be sorry<br>
If you can't recognize<br>
The errors and faults<br>
In such a perfect disguise<br>
<br>
<p>Carbon based lifeforms - Erratic patterns</p>
<br>
<p>cogitovirus.com</p>