.content-wrapper {
    display: flex;
    max-width: 50rem;
    width: 100%;
    margin: auto;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.content {
    margin: auto;
}

app-footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}