.content-wrapper {
    // max-width: 500px;
    max-width: 40rem;
    width: 100%;
    margin: auto;
}

app-footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    margin-top: -3.5rem;
    background-color: white;
}

