/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "B612";
    src: local("B612"), url(./assets/fonts/B612/B612-Regular.ttf) format("truetype");
}

body {
    font-family: "B612";
    margin:0em;
    height: 100%;
    position: relative;
}

app-root {
    min-height: 100%;
    position: relative;
    display: block;
    padding-bottom: 2.5rem;
}