/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    position: relative;
    margin:0em;
    height: 100%;
}

app-root {
    min-height: 100%;
    position: relative;
    display: block;
}
html, body { height: 100%; }
