@import '~@angular/material/theming';

@include mat-core();

$cv-theme-primary: mat-palette($mat-blue-gray, A200, A100, A400);
$cv-theme-accent: mat-palette($mat-deep-purple);
$cv-theme-warn: mat-palette($mat-red);
$cv-background-color: #ffffff;

$mat-light-theme-background: map_merge($mat-light-theme-background, (background: $cv-background-color));


$cv-theme: mat-light-theme((
  color: (
    primary: $cv-theme-primary,
    accent: $cv-theme-accent,
    warn: $cv-theme-warn,
  )
));

@include angular-material-theme($cv-theme);

$cv-typography: mat-typography-config(
  $font-family: 'Lato, sans-serif',
  $headline: mat-typography-level(24px, 48px, 700),
  $body-1: mat-typography-level(18px, 24px, 500)
);

@include angular-material-typography($cv-typography);
